.container{
  display: flex;
  justify-content: center;
}

.submitButton {
  font: inherit;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  width: 170px;
  height: 40px;
  border-radius: 75px;
  background: #CC4740;
}

.submitButton:hover {
  cursor: pointer;
  background: #F6564D;
}