body {
    color: #FFFFFF;
    background-color: #838383;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

p {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
.main-header {
    background-color: #838383;
}

main {
    background-image: url(../img/bodywallpaper.png);
    background-repeat: no-repeat;
    background-position: inherit;
}

.recipes {
    background-color: #C8D4FF;
}

.main-footer {
    background-color: #00AAAA;
}
