.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 0 30px 0;
}

.addButton {
  width: 77px;
  height: 77px;
  border: none;
  background: transparent url("./img/plus.png") no-repeat center center;
  align-self: center;
  margin-bottom: 60px;
}

.addButton:hover {
  cursor: pointer;
  opacity: 0.5;
}