.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 170px;
  height: 40px;
  border-radius: 75px;
  border: none;
  font: inherit;
  font-weight: 700;
  color: #FFFFFF;
}


.saveButton {
  @extend .button;
  background-color: #CC4740;
}

.saveButton:hover {
  cursor: pointer;
  background: #F6564D;
}

.deleteButton {
  @extend .button;
  background: #CC4740;
  box-shadow: none !important;
}

.deleteButton:hover {
  background: #F6564D !important;
}