.profile {
  //background: linear-gradient(180deg, #C8D4FF 0%, #3853B4 100%);
  flex: 1;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #090606;

  font-size: 16px;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 70px;
}

.image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  //margin-top: 155px;
  margin-bottom: 5px;
}

.username {
  font-size: 35px;
  line-height: 49px;

  margin: 0;
  padding: 0;

  margin-bottom: 10px;
}

.containerButtons {
  display: flex;
  margin-bottom: 15px;
}

.button {
  background: #CC4740;
  border: none;
  border-radius: 75px;
  width: 150px;
  height: 50px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #FFFFFF;
}

.button:first-child {
  margin-right: 20px;
}

.button:hover {
  background: #F6564D;
  cursor: pointer;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 2px solid #090606;
  margin-bottom: 30px;
}

.navElement {
  cursor: pointer;
  padding: 5px;
}

.navSep {
  padding: 5px;
}

.navElement:hover {
  color: #EB817C;
}