.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.inputField {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: transparent;

  height: 50px;
  padding: 5px;

  box-sizing: border-box;
}

.name {
  @extend .inputField;
  width: 70%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
}

.quantity {
  @extend .inputField;
  width: 10%;
  border-radius: 0;
  border-right: none;
  text-align: center;
}

.unit {
  @extend .inputField;
  width: 17%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.closeButton {
  background-color: rgba(235, 129, 124, 0.5);
  color: #FFFFFF;
  border: none;
}

.closeButton:hover {
  opacity: 0.5;
  cursor: pointer;
}

.addButton {
  width: 77px;
  height: 77px;
  border: none;
  align-self: center;
  background-color: rgba(235, 129, 124, 0.5);
  background: url("./img/plus.png") no-repeat center center;
}

.addButton:hover {
  opacity: 0.5;
  cursor: pointer;
}