.body {
    /*background: linear-gradient(180deg, #3853B4 0%, #00145A 100%) no-repeat;*/
    /*min-height: 100vh;*/
    /*background: #190E64;*/
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photoElement {
    border-radius: 113px;
}

.loginForm {
    background: rgba(235, 129, 124, 0.5);
    border-radius: 113px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    width: 630px;
    height: 867px;
}

.formContainer {
    margin: auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.header {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 25px;
}

.input {
    width: 398px;
    height: 48px;
    border: 1px solid #090606;
    font-size: 32px;
    line-height: 39px;
    border-radius: 10px;
}

.buttonElement {
    border: none;
    width: 398px;
    height: 95px;
    background: #CC4740;
    border-radius: 101px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.buttonElement:hover {
    background: #F6564D;
    cursor: pointer;
}

.url {
    color: #CC4740;
    text-decoration: none;
}

.url:hover {
    color: #F6564D;
}

.email {
    padding-bottom: 29px;
}

.password {
    padding-bottom: 38px;
}

.button {
    padding-bottom: 32px;
}

.account-url {
    padding-bottom: 38px;
}

.label {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    color: #090606;
}

.passwordQuestion {
    padding-top: 20px;
}

.errorLabel {
    color: red;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.input:focus{
    outline: none;
    border: 1px solid #F6564D !important;
}