body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

header *,
main * {
    margin: 0;
    padding: 0;
}


.main-list {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: #838383;
    margin: 0;
    padding: 0;
}

.main-list li {
    padding: 0;
}

.main-list li a {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
}

.main-list li a:hover {
    color: #0D3B66;
}

.main-list .logo-element {
    margin: 9px 156px 17px 98px;
}

.main-list .main-element {
    width: 137px;
    height: 39px;
    margin-top: 38px;
    margin-bottom: 49px;
    margin-right: auto;
}

.main-list .recipes-element {
    width: 153px;
    height: 39px;
    margin-top: 38px;
    margin-bottom: 49px;
    margin-right: auto;
}

.main-list .portfolio-element {
    width: 198px;
    height: 39px;
    margin-top: 38px;
    margin-bottom: 49px;
    margin-right: auto;
}

.main-list .search-element {
    margin-right: auto;
}

.main-list .search-element input {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    width: 341px;
    height: 72px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 32px;
    background-image: url('./img/search.png');
    background-repeat: no-repeat;
    background-position: 10px center; /* Отодвигает изображение на 10px от левого края */
    padding-left: 60px;

}

.main-list .search-element input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    color: #FFFFFF;
    /*text-align: center;*/
}

.main-list .login-element {
    width: 200px;
    height: 66px;
    margin-top: 38px;
    margin-bottom: 30px;
    margin-right: 90px;
}

.desk {
    background-image: url('./img/desk.jpg');
    background-repeat: no-repeat;
    /*width: 1920px;*/
    /*height: 1620px;*/
}

.desk .main-title {
    display: flex;
}

.desk .main-title .description {
    margin-top: 258px;
    margin-right: 36px;
    width: 962px;
    height: 318px;
    margin-left: auto;
}

.desk .main-title .description h1 {
    /*width: 962px;*/
    /*height: 147px;*/
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.desk .main-title .description p {
    /*width: 916px;*/
    /*height: 156px;*/
    padding-top: 15px;
    padding-right: 46px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.desk .second-title img {
    margin-left: 45px;
    margin-bottom: 63px;
}

.desk .second-title {
    display: flex;
}

.desk .second-title .list {
    margin-left: auto;
}

.desk .second-title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    width: 404px;
    height: 98px;
    margin-right: 269px;
    margin-left: -30px;
}

.desk .second-title .list ol {
    margin-top: 15px;
    margin-right: 17px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    width: 656px;
    height: 255px;
}

.desk .second-title .list button {
    margin-top: 91px;
    margin-bottom: 83px;
    background-color: #32B857;
    border: none;
    border-radius: 75px;
    width: 396px;
    height: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.desk .second-title .list button:active {
    background-color: #237937; /* Измените на желаемый цвет */
}

.recipes {
    background: linear-gradient(180deg, #C8D4FF 0%, #3853B4 100%);
}

.recipes h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #0D3B66;
    text-align: center;
    padding-top: 157px;
    padding-bottom: 50px;
}

.recipes .recipe {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
    "image title author rating"
    "image time ingredients ingredients"
    "image mark mark mark";
    width: 1020px;
    height: 190px;
    background: #0D3B66;
    border-radius: 25px;
    list-style: none;
    justify-content: start;
    margin-bottom: 21px;
}

.recipes .recipe .image {
    border-radius: 20px;
    grid-area: image;
    width: 190px;
    height: 190px;
    padding-right: 20px;
}

.recipes .recipe .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    grid-area: title;
    /*width: 86px;*/
    /*height: 39px;*/
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

.recipes .recipe .author {
    grid-area: author;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    /*width: 206px;*/
    /*height: 29px*/
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.recipes .recipe .rating {
    grid-area: rating;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 109px;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
}

.recipes .recipe .time {
    grid-area: time;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    /*width: 209px;*/
    /*height: 29px;*/
}

.recipes .recipe .ingredients {
    grid-area: ingredients;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    /*width: 203px;*/
    /*height: 29px;*/
    margin-left: 69px;
    text-align: center;
}

.recipes .recipe .mark {
    grid-area: mark;
}

.recipes .recipe .mark button {
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    width: 450px;
    height: 56px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    /*text-align: right;*/
    background: #0D3B66;
    display: flex;
}

.recipes .recipe .mark .bookmark-img {
    margin: 13px 11px 11px;
}

.recipes .recipe .mark span {
    margin-top: 9px;
    margin-bottom: 8px;
}

.recipes .recipe .mark button:active {
    background-color: #07223a;
}

.recipes .more-button {
    display: block;
    border: none;
    background: #32B857;
    border-radius: 75px;
    width: 396px;
    height: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.recipes {
    padding-bottom: 299px;
}

.recipes .more-button:active {
    background: #1d6732;
}

footer {
    display: flex;
    background: #0D3B66;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

footer .logo-list {
    display: flex;
    margin-right: auto;
}

footer .logo-footer {
    margin: 20px 61px 20px 99px;
}

footer .list-information {
    margin-bottom: 42px;
    margin-top: 42px;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

footer .list-information a {
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

footer .list-information a:hover {
    color: #b6b5b5;
}

footer .contacts {
    margin-right: 360px;
    /*margin-top: 42px;*/
    margin-bottom: 42px;
}

footer .list-contacts {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}