.body {
  //background: linear-gradient(180deg, #C8D4FF 0%, #3853B4 100%);
  flex: 1;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #090606;

  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.formsContainer {
  margin: 20px 0 20px 0;
  background: rgba(235, 129, 124, 0.5);
  border-radius: 5%;
  padding: 30px;
  height: 600px;
  min-width: 545px;
  max-width: 700px;
  width: 100%;

  grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
  display: grid;
  grid-template-areas:
  "photo back"
  "name secondName"
  "thirdName email"
  "login login"
  "about about"
  "changePassword exit"
  "save delete";
}

.label {
  margin: 0;
}

.avatar {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.photoCont {
  grid-area: photo;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.updatePhotoButton {
  border: none;
  background: #CC4740;
  border-radius: 75px;
  width: 170px;
  height: 40px;
  font-size: inherit;
  line-height: inherit;
  color: #FFFFFF;
  font-weight: inherit;
}

.updatePhotoButton:hover {
  background: #F6564D;
  cursor: pointer;
}

.backCont {
  grid-area: back;
  display: flex;
  align-items: center;
  justify-content: center;
}

.url {
  padding: 5px;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  color: #090606;
  font-weight: inherit;
  margin: auto;
  cursor: pointer;
}

.url:hover {
  color: #F6564D;
}

.inputField {
  padding-left: 10px;
  padding-right: 10px;
  background: inherit;
  width: 70%;
  max-width: 260px;
  height: 30px;
  border: 1px solid #090606;
  border-radius: 12px;
  font-weight: 400;
  color: #090606;

  font-size: 16px;
  line-height: 24px;
}

.inputField::placeholder {
  color: #090606;
}

.nameCont {
  grid-area: name;
}

.secondNameCont {
  grid-area: secondName;
}

.thirdNameCont {
  grid-area: thirdName;
}

.emailCont {
  grid-area: email;
}

.loginCont {
  grid-area: login;
}

.aboutCont {
  grid-area: about;
}

.aboutTextArea {
  padding: 10px;
  background: inherit;
  width: 80% !important;
  height: 85px !important;
  min-height: 100px;
  border: 1px solid #090606;
  border-radius: 12px;
  font-weight: 400;
  color: #090606;

  font-size: 16px;
  line-height: 20px;
}

.aboutTextArea::placeholder {
  color: #090606;
}

.changePassword {
  grid-area: changePassword;

  background: #CC4740;
  border-radius: 75px;
  width: 270px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;

  margin: auto;

  box-shadow: none !important;

  &:hover {
    background: #F6564D !important;
  }
}

.save {
  grid-area: save;
  border: none;
  background: #CC4740;
  border-radius: 75px;
  width: 270px;
  height: 40px;
  font-size: inherit;
  line-height: inherit;
  color: #FFFFFF;
  font-weight: inherit;
  margin: auto;
}

.save:hover {
  background: #F6564D;
  cursor: pointer;
}

.exit {
  @extend .save;
  grid-area: exit;
}

.delete {
  grid-area: delete;
  border: none;
  background: #CC4740;
  border-radius: 75px;
  width: 270px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;

  margin: auto;
  box-shadow: none !important;

  &:hover {
    background: #F6564D !important;
  }
}